.cell-container {
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-left: 7px;
    margin-bottom: 7px;

    transition: transform 0.2s;
}

.cell-container:hover {
    transform: scale(1.05);
}

